
 
<div class="container">


    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/08/29/13/19/kingfisher-6583229_960_720.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/08/29/13/19/kingfisher-6583229_960_720.jpg')" />

    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/09/19/12/19/animal-6637774_960_720.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/09/19/12/19/animal-6637774_960_720.jpg')" />

    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/03/29/01/54/wallaby-6132753_960_720.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/03/29/01/54/wallaby-6132753_960_720.jpg')" />

    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/09/20/21/32/lake-6641880_960_720.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/09/20/21/32/lake-6641880_960_720.jpg')" />


    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/07/15/11/15/woman-6468147__340.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/07/15/11/15/woman-6468147__340.jpg')" />



    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2020/11/25/03/04/russian-blue-cat-5774414__340.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2020/11/25/03/04/russian-blue-cat-5774414__340.jpg')" />



    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/09/06/01/13/coffee-6600644__340.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/09/06/01/13/coffee-6600644__340.jpg')" />


    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/05/14/01/56/child-6252212__340.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/05/14/01/56/child-6252212__340.jpg')" />


    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/09/15/12/34/woman-6626742__340.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/09/15/12/34/woman-6626742__340.jpg')" />

    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/08/25/21/44/woman-6574533__340.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/08/25/21/44/woman-6574533__340.jpg')" />



    <img class="img-thumbnail shadow-sm" width="100" height="100" title="Klicka här för att välja bilden"
         src="https://cdn.pixabay.com/photo/2021/07/19/15/47/lily-6478427__340.jpg" onclick="setvalue('https://cdn.pixabay.com/photo/2021/07/19/15/47/lily-6478427__340.jpg')" />

    <img class="img-thumbnail shadow-sm" width="100" height="100" title="klicka"
         src="https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Shiba_Inu_coin_logo.png/150px-Shiba_Inu_coin_logo.png" onclick="setvalue('https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Shiba_Inu_coin_logo.png/150px-Shiba_Inu_coin_logo.png')" />



</div>

 
<script>


    function setvalue(bildid) {
        console.log(window.opener);
        window.opener.document.getElementById('enBildId').value = bildid;
        window.close();
    }

</script>

